@model CDMIS.ViewModels.ModuleManagementViewModel
@{
    ViewBag.Title = "患者-医生匹配";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<link href="../../Content/jquery.dataTables.css" rel="stylesheet" type="text/css" />
<link href="../../Content/simpleModal.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="../../Scripts/jquery.dataTables.js"></script>
<script type="text/javascript" src="../../Scripts/jquery.simplemodal.1.4.4.min.js"></script>
<style type="text/css">
    #simplemodal-container
    {
        height: 150px;
        width: 300px;
    }
</style>
@using (Html.BeginForm("ModuleManagement", "Management", FormMethod.Post, new { id = "MMForm", @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
{
    <div class="form-group">
        <label class="col-sm-3 control-label">
            患者ID:</label>
        <div class="col-sm-6">
            @Html.TextBoxFor(model => model.PatientId, new { @class = "form-control" })
        </div>
        <div class="col-sm-2">
            <button type="submit" class="btn btn-primary">
                查看</button>
        </div>
    </div>
    <div style="width: 70%; margin: 0 auto;">
    <table id="DataTable" class="display" style="width: 100%; line-height: 4.0em;">
        <thead>
            <tr>
                <th style="display: none;">
                    模块ID
                </th>
                <th style="width: 20%">
                    项目
                </th>
                <th style="display: none;">
                    医生ID
                </th>
                <th style="width: 70%">
                    负责医生
                </th>
                <th style="width: 10%">
                    操作
                </th>
                <th style="display: none;">
                    序号
                </th>
            </tr>
        </thead>
        <tbody id="MMTBody">
            @if (Model.ModuleInfoList.Count > 0)
            {
                foreach (var item in Model.ModuleInfoList)
                {
                <tr>
                    <td style="display: none;">@item.Module
                    </td>
                    <td>@item.ModuleName
                    </td>
                    <td style="display: none;">@item.DoctorId
                    </td>
                    <td>
                    @Html.DropDownList(item.DoctorId, item.DoctorList, new { id = "DoctorListOf" + item.Module, style = "font-size:17px; width:90%", @class = "form-control", disabled = "disabled"})
                    </td>
                    <td>
                    <button type="button" class="btn btn-primary EditBtn">重新设置</button>
                    <button type="button" class="btn btn-warning ConfirmBtn" style="display: none;">确认修改</button>
                    </td>
                    <td style="display: none;">@item.ItemSeq
                    </td>
                </tr>
                }
            }
            @if (Model.HealthCoachList.Count > 0)
            {
                foreach (var item in Model.HealthCoachList)
                {
                <tr>
                    <td style="display: none;">
                    </td>
                    <td>健康专员
                    </td>
                    <td style="display: none;">@item.HealthCoachId
                    </td>
                    <td>
                    @Html.DropDownList(item.HealthCoachId, item.HealthCoachList, new { id = "HCListOf" + item.ItemSeq, style = "font-size:17px; width:90%", @class = "form-control", disabled = "disabled" })
                    </td>
                    <td>
                    <button type="button" class="btn btn-primary HCEditBtn">重新设置</button>
                    <button type="button" class="btn btn-warning HCConfirmBtn" style="display: none;">确认修改</button>
                    </td>
                    <td style="display: none;">@item.ItemSeq
                    </td>
                </tr>
                }
            }
        </tbody>
    </table>   
    </div> 
}
<div id="deleteModal" style="display: none;">
    <div class="modalHeader">
        <span>提示</span></div>
    <div class="modalContent">
        <h4 class="text-center">
            是否删除此数据？</h4>
        <div class="col-md-offset-3">
            <input type="button" value="确定" class="btn btn-primary" id="confirmDeleteBtn" />
            <input type="button" value="取消" class="btn btn-default" id="cancelDeleteBtn" />
        </div>
    </div>
</div>
<script type="text/javascript">

    $(document).ready(function () {
        $("#menu a").attr("id", ""); //Reset id's 
        $("#menu li:eq(2) a").attr("id", "current");

//        var table = $('#DataTable').DataTable({
//            "oLanguage": {//语言国际化
//                "sUrl": "/Content/jquery.dataTable.cn.txt"
//            },
//            "bAutoWidth": false,
//            "bPaginate": false,  //是否分页。
//            "sScrollX": "100%",
//            "sScrollY": "250px",
//            "bFilter": false,
//            "aoColumnDefs": [{ "sWidth": "30px", "aTargets": [0] },
//                        { "sWidth": "200px", "aTargets": [1]}],
//            "aaSorting": [[0, "desc"]]
//        });
    });

    //点击编辑按钮
    $(".EditBtn").click(function () {
        var trSeq = $(this).parent().parent().parent().find("tr").index($(this).parent().parent());
        var module = $.trim($("#MMTBody tr:eq(" + trSeq + ") td:eq(0)").text());
        $("#DoctorListOf" + module).removeAttr("disabled");
        $(this).next().css("display", "block");
        $(this).css("display", "none");
    });

    //点击确认按钮
    $(".ConfirmBtn").click(function () {
        var btn = $(this);
        var trSeq = $(this).parent().parent().parent().find("tr").index($(this).parent().parent());
        var module = $.trim($("#MMTBody tr:eq(" + trSeq + ") td:eq(0)").text());
        var preDocId = $.trim($("#MMTBody tr:eq(" + trSeq + ") td:eq(2)").text());
        var doctorId = $("#DoctorListOf" + module).val();
        var seq = $.trim($("#MMTBody tr:eq(" + trSeq + ") td:eq(5)").text());
        $.ajax({
            url: "/Management/UpdateModuleInfo",
            type: "GET",
            dataType: "json",
            async: false,
            data: { PatientId: $("#PatientId").val(), Module: module, DoctorId: doctorId, Seq: seq, PreDocId: preDocId },
            success: function (res) {
                if (res == 1) {
                    $("#DoctorListOf" + module).attr("disabled", "disabled");
                    btn.prev().css("display", "block");
                    btn.css("display", "none");
                    $("#MMTBody tr:eq(" + trSeq + ") td:eq(2)").text(doctorId);
                }
                else if (res == 0) {
                    alert("数据更新失败，请重试！");
                }
            }
        });
    });

    //点击编辑按钮
    $(".HCEditBtn").click(function () {
        var trSeq = $(this).parent().parent().parent().find("tr").index($(this).parent().parent());
        var seq = $.trim($("#MMTBody tr:eq(" + trSeq + ") td:eq(5)").text());
        $("#HCListOf" + seq).removeAttr("disabled");
        $(this).next().css("display", "block");
        $(this).css("display", "none");
    });

    //点击确认按钮
    $(".HCConfirmBtn").click(function () {
        var btn = $(this);
        var trSeq = $(this).parent().parent().parent().find("tr").index($(this).parent().parent());
        var preDocId = $.trim($("#MMTBody tr:eq(" + trSeq + ") td:eq(2)").text());
        var seq = $.trim($("#MMTBody tr:eq(" + trSeq + ") td:eq(5)").text());
        var doctorId = $("#HCListOf" + seq).val();
        
        $.ajax({
            url: "/Management/UpdateHCInfo",
            type: "GET",
            dataType: "json",
            async: false,
            data: { PatientId: $("#PatientId").val(), DoctorId: doctorId, Seq: seq, PreDocId: preDocId },
            success: function (res) {
                if (res == 1) {
                    $("#HCListOf" + seq).attr("disabled", "disabled");
                    btn.prev().css("display", "block");
                    btn.css("display", "none");
                    $("#MMTBody tr:eq(" + trSeq + ") td:eq(2)").text(doctorId);
                }
                else if (res == 0) {
                    alert("数据更新失败，请重试！");
                }
            }
        });
    });
</script>
